<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Intervenant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form-style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Ajouter un Intervenant</h2>
        <form action="{{ url_for('add_intervenant') }}" method="post">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" required>

            <label for="poste">Poste:</label>
            <input type="text" id="poste" name="poste" required>

            <button type="submit">Ajouter</button>
        </form>
    </div>
</body>
</html>
